language: scala

sudo: required
dist: trusty

scala:
  - 2.11.8

notifications:
  slack:
  - websudos:P9QNXx1ZGFnDHp3v3jUqtB8k
  email:
  - dev@outworkers.com

branches:
  only:
  - master
  - develop

jdk:
- oraclejdk7
- oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

before_install: unset SBT_OPTS JVM_OPTS

before_script: travis_retry sbt "++$TRAVIS_SCALA_VERSION update"

install:
  - pip install 'requests[security]'
  - pip install ccm
  - ccm create test -v 3.2 -n 3 -s

script: sbt test
